In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
def missing_values_table(df):
    '''
    Se pasa como parametro un df de pandas, devuelve la 
    cantidad de valores NaN y a que porcentaje del total de valores corresponen
    '''
    
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [62]:
df_homicides = pd.read_excel(r"data\homicidios.xlsx")
df_lessions = pd.read_excel(r"data\lesiones.xlsx")

In [84]:
df_victimas = pd.read_excel("data\homicidios.xlsx", sheet_name= "VICTIMAS")
df_victimas_l = pd.read_excel("data\lesiones.xlsx", sheet_name= "VICTIMAS")

# EDA de df_homicides

## aca agregar que es cada columna y a que hacer referencia el df en general

In [5]:
df_homicides.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [6]:
df_homicides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [7]:
missing_values_table(df_homicides)

Your selected dataframe has 21 columns.
There are 4 columns that have missing values.

                       Missing Values  % of Total Values
Altura                            567               81.5
Cruce                             171               24.6
Dirección Normalizada               8                1.1
Calle                               1                0.1

In [8]:
df_homicides[df_homicides["Calle"].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

In [9]:
df_homicides.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [10]:
df_homicides["HH"].unique() #tenemos SD en este df

array([4, 1, 7, 0, 5, 18, 19, 15, 11, 22, 16, 9, 23, 6, 10, 17, 12, 8, 20,
       21, 14, 3, 2, 13, 'SD'], dtype=object)

In [11]:
df_homicides["VICTIMA"].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OBJETO FIJO', 'PEATON_MOTO'], dtype=object)

In [12]:
df_homicides[df_homicides["VICTIMA"] == "SD"].count()

ID                       9
N_VICTIMAS               9
FECHA                    9
AAAA                     9
MM                       9
DD                       9
HORA                     9
HH                       9
LUGAR_DEL_HECHO          9
TIPO_DE_CALLE            9
Calle                    9
Altura                   3
Cruce                    4
Dirección Normalizada    9
COMUNA                   9
XY (CABA)                9
pos x                    9
pos y                    9
PARTICIPANTES            9
VICTIMA                  9
ACUSADO                  9
dtype: int64

In [13]:
df_homicides[df_homicides["ACUSADO"] == "SD"].count()

ID                       23
N_VICTIMAS               23
FECHA                    23
AAAA                     23
MM                       23
DD                       23
HORA                     23
HH                       23
LUGAR_DEL_HECHO          23
TIPO_DE_CALLE            23
Calle                    22
Altura                    2
Cruce                    17
Dirección Normalizada    21
COMUNA                   23
XY (CABA)                23
pos x                    23
pos y                    23
PARTICIPANTES            23
VICTIMA                  23
ACUSADO                  23
dtype: int64

In [14]:
df_homicides[df_homicides["ID"].duplicated()]

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

In [15]:
df_homicides["TIPO_DE_CALLE"].value_counts()

TIPO_DE_CALLE
AVENIDA      429
CALLE        136
AUTOPISTA     66
GRAL PAZ      65
Name: count, dtype: int64

In [16]:
df_homicides["HH"].value_counts().head(20)

HH
7     41
6     40
9     36
5     35
14    33
12    32
8     31
18    31
10    31
16    30
19    30
17    30
22    30
21    29
23    28
11    27
3     26
20    26
15    25
1     24
Name: count, dtype: int64

In [17]:
df_homicides["PARTICIPANTES"].value_counts().head(10)

PARTICIPANTES
PEATON-PASAJEROS    105
MOTO-AUTO            83
MOTO-CARGAS          78
PEATON-AUTO          77
MOTO-PASAJEROS       46
MOTO-OBJETO FIJO     40
PEATON-CARGAS        38
AUTO-AUTO            31
PEATON-MOTO          30
MOTO-MOTO            25
Name: count, dtype: int64

In [18]:
df_homicides["VICTIMA"].value_counts().head(10)

VICTIMA
MOTO           295
PEATON         264
AUTO            83
BICICLETA       29
SD               9
CARGAS           7
PASAJEROS        5
MOVIL            2
OBJETO FIJO      1
PEATON_MOTO      1
Name: count, dtype: int64

### **Primeras conclusiones:**


- El dataframe ya está casi listo para usarlo para análisis:
  - Tenemos una columna entera dedicada a **fecha**, por lo que las columnas "AAAA", "MM" "DD" no nos son relevantes. Podemos acceder a esos datos diferenciados con funciones de DAX.
  - El **ID de los accidentes** está con el siguiente formato: 2016-0001 donde 2016 hace referencia al año y 0001 al número de accidente de ese año. Lo podemos normalizar eliminando el guion del medio.
  - Tenemos algunos datos perdidos, pero no nos resultan relevantes. Son más que nada de **dirección** y ya poseemos la geolocalización de los mismos (punto solo aplicable para la visualización en mapas).
  - También tenemos la columna "**LUGAR_DEL_HECHO**" donde tenemos una dirección. Esta dirección se conforma primero por un nombre de una calle y seguido de un número. En caso de que sea una intersección se utiliza "**Y**" en el medio de las dos calles, apuntando que es una esquina. En estos casos no tenemos especificado un número en la columna "**Altura**", por lo que los datos faltantes de esta columna "**altura**" no quieren decir una carga deficiente, sino que quieren decir que fue en una intersección de dos calles. De esta forma podemos sacar datos importantes incluso donde no nos tenemos.
  - No existen valores **duplicados**.
  - La gran mayoria de los accidentes que terminan en un homicidio son en avenidas. e intersecciones de las mismas

## Normalizaciones

In [19]:
#eliminamos el guion central de la columna ID para luego poder utilizarla como ID en my motor SQL
df_homicides['ID'] = df_homicides['ID'].str.replace('-', '')

In [20]:
df_homicides.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,20160001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,20160002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,20160003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

Decido quedarme solo con dos columnas que hacen referencia al momento del hecho (Fecha y Hora). Al tener menos columnas y evitar columnas redundantes se hace mas sencillo el analisis en general. Tambien voy a eliminar la columna "XY (CABA)" por el simple motivos de que para saber la ubicacion geografica de un punto ya tengo mi columna X e Y.

In [21]:
df_homicides.drop(columns=["AAAA", "MM", "DD","HH","XY (CABA)"], inplace=True)

In [22]:
df_homicides.head(1)

,ID,N_VICTIMAS,FECHA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,20160001,1,2016-01-01,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

Despues voy a reemplazar los valores nulos que tenemos dentro de la columna "alura" por "INTERSECCION"

In [23]:
condicion = ~df_homicides['Cruce'].isna()
df_homicides.loc[condicion, 'Altura'] = 'INTERSECCION'

In [24]:
df_homicides[df_homicides["Altura"].isna()].head()

,ID,N_VICTIMAS,FECHA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
35,20160049,1,2016-04-17,00:00:00,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,-58.37714647568196,-34.63657525428238,SD-SD,SD,SD
38,20160052,1,2016-04-20,20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,.,.,MOTO-SD,MOTO,SD
64,20160087,1,2016-07-02,00:10:00,AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y C...,1,-58.37864583,-34.62907067,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
71,20160096,1,2016-07-25,07:00:00,"AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3",AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,8,-58.47433193007387,-34.66684950051973,MOTO-CARGAS,MOTO,CARGAS
81,20160107,1,2016-08-20,08:22:00,AUTOPISTA 9 DE JULIO SUR ALT AV MENDOZA,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y D...,4,-58.37157668,-34.65429986,MOTO-AUTO,MOTO,AUTO

Por ultimo para llenar los nulos de la columna "Altura" vemos que los restantes son todos accidentes que sucedieron en Autopistas, por este motivo carecen de numeracion. Decido llenar el resto de nulos la columna "altura" con la palabra "AUTOPISTA". De esta manera puedo obterner todos mis registros mas explicativos y un dataset aun mas limpio.

In [25]:
df_homicides["Altura"] = df_homicides["Altura"].fillna("AUTOPISTA")
df_homicides.drop(columns="Cruce", inplace=True)

Tenemos algunos registros los cuales no tenemos sus coordenadas

In [26]:
df_homicides[df_homicides["pos x"] == "."].count()

ID                       12
N_VICTIMAS               12
FECHA                    12
HORA                     12
LUGAR_DEL_HECHO          12
TIPO_DE_CALLE            12
Calle                    11
Altura                   12
Dirección Normalizada     4
COMUNA                   12
pos x                    12
pos y                    12
PARTICIPANTES            12
VICTIMA                  12
ACUSADO                  12
dtype: int64

In [27]:
df_homicides[df_homicides["pos x"] == "."]

,ID,N_VICTIMAS,FECHA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Dirección Normalizada,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,20160052,1,2016-04-20,20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AUTOPISTA,NaN,13,.,.,MOTO-SD,MOTO,SD
106,20160136,1,2016-10-25,00:00:00,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,AUTOPISTA,NaN,4,.,.,MOTO-CARGAS,MOTO,CARGAS
119,20160151,1,2016-11-18,20:35:00,SD,CALLE,NaN,AUTOPISTA,NaN,0,.,.,PEATON-SD,PEATON,SD
139,20160174,1,2016-12-27,00:00:00,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,0,.,.,SD-SD,SD,SD
176,20170042,1,2017-04-10,09:00:00,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",AUTOPISTA,"LUGONES, LEOPOLDO AV.",14,.,.,MOTO-CARGAS,MOTO,CARGAS
180,20170050,2,2017-04-28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,AUTOPISTA,NaN,9,.,.,MOTO-CARGAS,MOTO,CARGAS
181,20170051,1,2017-05-01,03:47:47,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,AUTOPISTA,NaN,7,.,.,AUTO-AUTO,AUTO,AUTO
256,20170140,1,2017-11-19,23:22:17,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,20180039,1,2018-04-21,22:15:00,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AUTOPISTA,NaN,14,.,.,PEATON-AUTO,PEATON,AUTO
546,20200026,1,2020-05-17,06:40:00,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",AUTOPISTA,NaN,14,.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,20200039,1,2020-09-01,19:17:42,MURGUIONDO 2700,CALLE,MURGUIONDO,AUTOPISTA,MURGUIONDO,9,.,.,PEATON-CARGAS,PEATON,CARGAS
621,20210023,1,2021-03-01,09:20:00,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,AUTOPISTA,NaN,4,.,.,MOTO-CARGAS,MOTO,CARGAS

**Dentro de la columna xy tenemos algunos valores faltantes (8 especificamente) los cuales necesitamos imputar**. A mi criterio tenemos 3 posibilidades:
- la primera es eliminar las columnas, ya que solo cerca del 1% del total de registros y  no constituye una perdida de datos significativa. 
- La segunda es aplicar algun modelo de regresion e imputarlos o basarnos en otras columnas 
- la tercer opcion es de buscalas manualmente ya que tenemos alguna referencia de donde sucedio el hecho en la columna "LUGAR_DEL_HECHO". Voy a optar por esta ultima.


**Accidentes**

2016-0052 | No hay una autopista Lugones PK 10000. PK se suele utilizar para definir el "punto kilometrico". Hay una autopista Lugones, pero termina en la Ruta Provincial 8. La ruta provincial 8 tiene una longitud de 100 km, pero no hay un punto de referencia llamado Lugones PK 10000.

2016-0151 | Lamentablemente no tengo ninguna referencia por lo que este registro no puedo utilizarlo

**Estos accidentes suceden fuera de los limites politicos de la ciudad autonoma de Buenos Aires, y que ocurren en autopistas nacionales.** 

Al ser datos recopilapos por la P.F.A, es correspondiente a ellos (por cuestiones jurisdiccionales) el tratamiento de estos casos que ocurren fuera del territorio de CABA ya que todas las autopistas nacionales son cuestiones federales. Esto explica el por que figuran estos accidentes en nuestra base de datos pero exede la orbita de nuestro encargo.
Sin embargo decido consrvar todos los posibles ya que en su mayoria se tratan de accidentes que ocurren en las cercanías de CABA.

### Imputando estos valores y eliminando registros

In [28]:
df_homicides.iloc[106, 10] = -58.405065
df_homicides.iloc[106, 11] = -34.650957

df_homicides.iloc[180, 10] = -58.350589
df_homicides.iloc[180, 11] = -34.647973

df_homicides.iloc[181, 10] = -58.353910
df_homicides.iloc[181, 11] = -34.647973

df_homicides.iloc[313, 10] = -58.380736
df_homicides.iloc[313, 11] = -34.626967

df_homicides.iloc[621, 10] = -58.368783
df_homicides.iloc[621, 11] = -34.649867

#quedaron algunos registros sin coordenadas pero son muy pocos

Logramos asignar valor a varios de estos registros

In [29]:
df_homicides = df_homicides[df_homicides["pos x"] != '.']

In [30]:
#hay algunos registros que debemos modificar dentro de la columna HORA y hay un valor que no tiene hora, para mantenerlo voy a cambiarlo por 00:00:00
print(df_homicides.iloc[434, 3])
print(df_homicides.iloc[436, 3])
print(df_homicides.iloc[491, 3])

1900-01-02 00:00:00
1900-01-14 07:12:00
1900-01-04 18:40:00

In [31]:
import datetime
df_homicides.iloc[434, 3] = datetime.time(00, 00, 00)
df_homicides.iloc[436, 3] = datetime.time(7,12,00)
df_homicides.iloc[491, 3] = datetime.time(18,40,00)
df_homicides["HORA"].replace("SD", "00, 00, 00")
print(df_homicides.iloc[431, 3])
print(df_homicides.iloc[433, 3])
print(df_homicides.iloc[488, 3])

12:00:00
22:50:00
03:40:00

Mi siguiente paso va a ser hacer un join entre las dos tablas que tienen los datos de las victimas, voy a utilizar de esta tabla unicamente el sexo, la edad y el rol ya que las fechas las tengo normalizadas en mi otra tabla y particularmente no siento un interes en averiguar el tiempo que paso desde la ocurrencia del hecho hasta que se produce el fallecimiento del involucrado. Tambien voy a eliminar de mi tabla de homicidios la columna "VICTIMA" y "N_VICTIMAS" ya que tengo datos mas precisos en mi talba de victimas y voy a tener un registro por victima.

In [32]:
#eliminamos la columna VICTIMA y N_VICTIMAS
df_homicides.drop(columns=["VICTIMA","N_VICTIMAS"], inplace=True)


#normalizamos el ID_hecho para apoder hacer el join
df_victimas['ID_hecho'] = df_victimas['ID_hecho'].str.replace('-', '')


#elimino las columnas que no me interesan del df_vicitmas
df_victimas.drop(columns=["FECHA","AAAA","MM","DD","FECHA_FALLECIMIENTO"], inplace=True)


#realizamos el join
df_homicides = df_homicides.merge(df_victimas, left_on="ID", right_on="ID_hecho")


#elimino la columna residual
df_homicides.drop(columns="ID_hecho", inplace=True)

Tambien realizo unas ultimas normalizaciones que me van a servir al momento de graficar

In [47]:
df_homicides["Dirección Normalizada"] = df_homicides["Dirección Normalizada"].fillna("AUTOPISTA")

Altero esto para poder categorizar de otra manera la informaicon. Por ahora lo que vengo observando es que la gran mayoria de los accidentes ocurren en intersecciones de 2 calles por lo que me parece importante poder hacer esa distincion ademas de la propuesta (TIPO_DE_CALLE). Mi propuesta es Interseccion, mitad de cuadra, y Autopista

In [ ]:
df_homicides["Altura"][(df_homicides["Altura"] != "AUTOPISTA") & (df_homicides["Altura"] != "INTERSECCION")] = "MITAD DE CUADRA"
df_homicides.rename(columns={"Altura" : "Ubicacion del accidente"}, inplace=True)

In [54]:
df_homicides.to_csv("homicidios_normalizado.csv")